In [81]:
import pandas as pd

In [85]:
input_data_raw = pd.read_csv('desktop/advent_day_1_input_data.csv')

In [90]:
input_data_raw.head()

   Column 1  Column 2  Diff
0   10182.0   10108.0    74
1   10336.0   10498.0   162
2   10354.0   10676.0   322
3   10410.0   10730.0   320
4   10793.0   10793.0     0

In [107]:
col1_count = input_data_raw['Column 1'].value_counts()
print(col1_count)
col1_count_sorted = col1_count.sort_values(ascending=False)
print(col1_count_sorted)

Column 1
10182.0    1
69422.0    1
68425.0    1
68451.0    1
68579.0    1
          ..
39986.0    1
40007.0    1
40084.0    1
40165.0    1
99989.0    1
Name: count, Length: 1000, dtype: int64
Column 1
10182.0    1
11607.0    1
13303.0    1
13298.0    1
10354.0    1
          ..
99601.0    1
99750.0    1
99826.0    1
99849.0    1
99989.0    1
Name: count, Length: 1000, dtype: int64

In [103]:
def similarity_score_calc(df, col1, col2): # Write function to calculate similarity score w/3 inputs. A dataframe, col1 (the left column) and col2 (the right column).
    col1_count = input_data_raw['Column 1'].value_counts() #count the number of occurences of the column 1

    similarity_score_output = 0 #set the score output to 0 prior to calculating

    for value in input_data_raw['Column 2']: # loop thru each row of column 2 and check to see if its in col1_count. If it is, take the value and multiply it by the value seen in the matching row in col1_count
        if value in col1_count:
            similarity_score_output += value * col1_count[value]
    
    return similarity_score_output

similarity_score_output = similarity_score_calc(input_data_raw, 'Column 1', 'Column 2')

similarity_score_output

17191599.0